<% @vehicle.brands.order('title asc').each do |brand| %>

<div class="grid_4 height_78 list-back">
	<div class="line_1"></div>
	<div class="grid_1 alpha">
		<%= link_to image_tag(brand.logo.url(:normal),
								:border=>0 ), 
								vehicle_brand_path(@vehicle,brand)%>
	</div>
	<div class="grid_2 omega margin_top_24">
		<h4><%= link_to brand.title, vehicle_brand_path(@vehicle, brand) %></h4>
	</div>
	<div class="margin_top_7">
	<%= link_to image_tag('../images/arrow-button.jpg',
							:mouseover=>'../images/arrow-button-over.jpg',
							:border=>0 ), 
							vehicle_brand_path(@vehicle,brand)%>
	</div>
	
	
</div>
<%end%>